.box {
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  width: -webkit-fill-available;
  width: -moz-available; }

.box-shadow {
  box-shadow: 3px 5px 11px; }

.box img {
  width: inherit; }

.box-title {
  font-weight: bold;
  text-align: center;
  font-family: "Noto";
  padding: 2px 5px;
  border-bottom: 0.5px solid #e6e6e6;
  margin: 0.2rem 0; }
