/*
If you want to make changes in project go to Features folder
and change according scss file.

To compile this file into normal css use 
npm command:

'npm run compile-main-scss'

To minify main css file use:

'npm run minify-main-css'.

if you want to change another file use instructions from
this website https://www.npmjs.com/package/minify.

*/
@font-face {
  font-family: "Roboto";
  src: url("./src/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Noto";
  src: url("./src/fonts/Noto/NotoSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Work";
  src: url("./src/fonts/Work/WorkSans-Medium.ttf") format("truetype");
}
html {
  -ms-overflow-style: auto;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Noto", "Work";
  scroll-behavior: smooth;
}

/* Spacing */
@import "./src/feature/Spacing/spacing.scss";
/* Spacing */

/* Scrollbar */
@import "./src/feature/Scrollbar/scrollbar.scss";
/* Scrollbar */

/* Slideshow */
@import "./src/feature/Slideshow/slideshow.scss";
/* Slideshow */

/* Colors and theme*/
@import "./src/feature/Colors_and_Theme/color.scss";
/* Colors and theme*/

/* Grid System */
@import "./src/feature/Grid_System/grid_system.scss";
/* Grid System */
/* Box */
@import "./src/feature/Box/box.scss";
/* Box */
/* Button */
@import "./src/feature/Buttons/button.scss";
/* Button */
/* Form */
@import "./src/feature/Form/form.scss";
/* Form */

/* Navbar */
@import "./src/feature/Navigation_Bar/navbar.scss";
/* Navbar */
/* Code */
@import "./src/feature/Code/code.scss";
/* Code */
/* Marquee */
@import "./src/feature/Marquee/marquee.scss";
/* Marquee */
/* Modal */
@import "./src/feature/Modal/modal.scss";
/* Modal */
/* Tooltip */
@import "./src/feature/Tooltip/tooltip.scss";
/* Tooltip */
/* Table */
@import "./src/feature/Table/table.scss";
/* Table */
/* Tabs */
@import "./src/feature/Tabs/tab.scss";
/* Tabs */
/* Accordion */
@import "./src/feature/Accordion/accordion.scss";
/* Accordion */
/* Card */
@import "./src/feature/Card/card.scss";
/* Card */
/* Image */
@import "./src/feature/Image/image.scss";
/* Image ^/
/* Timeline */
@import "./src/feature/Timeline/timeline.scss";
/* Timeline ^/
/* Dropdown */
@import "./src/feature/Dropdown/dropdown.scss";
/* Dropdown */
