@font-face{
    font-family: "Noto";
    src: url("../../fonts/Noto/NotoSans-Regular.ttf") format("truetype");
}
@font-face{
    font-family: "Work";
    src: url("../../fonts/Work/WorkSans-Medium.ttf") format("truetype");
}
.btn{
    padding: 8px;
    border: 1px solid #999;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Noto", "Work";
}

.btn-hover:hover{
    box-shadow: 5px 2px 8px;
    opacity: .7;
}
.btn-dark{
    background-color: #101c29;
    color: #eef0f2;
}
.btn-light{
    background-color: #eef0f2;
    color: #101c29;
}
.btn-danger{
    background-color: #eb2421;
    color: #eef0f2;
}
.btn-success{
    background-color: #33ff0a;
    color: #eef0f2;
}
.btn-warning{
    background-color: #deff0a;
    color: #101c29;
}