[theme = "dark"], .dark-mode{
    background-color:#101c29 !important;
    color: #fff !important;
    transition: 0.5s;
}
[theme = "light"], .light-mode{
    background-color:  #eef0f2 !important;
    color: #000 !important;
    transition: 0.5s;
}

.black-text{color: #000}
.white-text{color: #fff}
.blue-text{color: #04d7de}
.red-text{color: #eb2421}
.yellow-text{color: #deff0a}
.green-text{color: #33ff0a}
.purple-text{color: #530aff}

.black-background{background-color: #000}
.white-background{background-color: #fff}
.blue-background{background-color: #04d7de}
.red-background{background-color: #eb2421}
.yellow-background{background-color: #deff0a}
.green-background{background-color: #33ff0a}
.purple-background{background-color: #530aff}