.form-label {
  font-family: "Roboto", "Work";
  margin: 10px 0;
}

.form-group {
  margin: 16px 14px;
}

.form-control {
  border: 1px solid #bfbfbf;
  width: -webkit-fill-available;
  width: -moz-available;
  border-radius: 5px;
  padding: 8px;
  font-family: "Noto";
}

.textarea-auto-adjust {
  overflow: hidden;
  min-height: 50px;
}

input[type="checkbox"] {
  margin-right: 8px;
  cursor: pointer;
}

input[type="checkbox"]:after {
  content: " ";
  cursor: pointer;
  background-color: #fff;
  display: inline-block;
  color: #00bff0;
  visibility: visible;
  border: 1px solid #00bff0;
  border-radius: 10px;
}

input[type="checkbox"]:hover {
  opacity: 0.7;
  transform: scale(1.25);
}

input[type="radio"] {
  width: 16px;
  height: 16px;
  transition: all 0.4s;
}

input[type="radio"]:checked {
  -webkit-animation: radio-animate 0.25s ease-out;
  animation: radio-animate 0.25s ease-out;
}

input[type="radio"]:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.form-animate {
  position: relative;
  display: block;
  overflow: hidden;
}
.input-animate {
  width: -webkit-fill-available;
  width: -moz-available;
  border: none;
  display: inline-block;
  outline: none;
  padding: 10px;
  font-size: 20px;
  background-color: transparent;
  border-bottom: 1px solid #7c7c7c;
}

.input-onFocus {
  transition: all 0.5s;
  display: inline-block;
  bottom: 0;
  left: -100%;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #1a73e8;
}

.form-animate,
.input-animate {
  color: inherit;
}

.form-animate .input-animate:focus + .input-onFocus {
  left: 0;
}

.toggle-switch input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-animation {
  cursor: pointer;
  width: 50px;
  height: 30px;
  background-color: grey;
  display: block;
  border-radius: 5px;
  position: relative;
}

.toggle-animation::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.3s;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-animation {
  background-color: #bada55;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-animation::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

@keyframes radio-animate {
  0% {
    opacity: 0.4;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  10% {
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
  90% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
