.form-label {
  font-family: "Roboto", "Work";
  margin: 10px 0; }

.form-group {
  margin: 16px 14px; }

.form-control {
  border: 1px solid #bfbfbf;
  width: -webkit-fill-available;
  border-radius: 5px;
  padding: 8px;
  font-family: "Noto"; }

.textarea-auto-adjust {
  overflow: hidden;
  min-height: 50px; }

input[type=checkbox] {
  margin-right: 8px;
  cursor: pointer; }

input[type=checkbox]:after {
  content: " ";
  cursor: pointer;
  background-color: #fff;
  display: inline-block;
  color: #00BFF0;
  visibility: visible;
  border: 1px solid #00BFF0;
  border-radius: 10px; }

input[type=checkbox]:hover {
  opacity: .7;
  transform: scale(1.25); }
