[data-theme="dark"], .dark-mode {
  background-color: #101c29 !important;
  color: #fff !important;
  transition: 0.5s; }

[data-theme="light"], .light-mode {
  background-color: #eef0f2 !important;
  color: #000 !important;
  transition: 0.5s; }

[data-theme="aqua"], .aqua-mode {
  background-color: #0070f3 !important;
  color: #000000 !important;
  transition: 0.8s; }

[data-theme="phoenix"], .phoenix-mode {
  background-color: #ee2224 !important;
  color: #fff !important;
  transition: 0.8s; }

[data-theme="sky"], .sky-mode {
  background-color: #673ab7 !important;
  color: #fff !important;
  transition: 0.8s; }

.black-text {
  color: #000 !important; }

.white-text {
  color: #fff !important; }

.blue-text {
  color: #04d7de !important; }

.phoenix-text {
  color: #ee2224 !important; }

.yellow-text {
  color: #deff0a !important; }

.green-text {
  color: #33ff0a !important; }

.purple-text {
  color: #57038f !important; }

.aqua-text {
  color: #0070f3 !important; }

.dark-background {
  background-color: #101c29 !important; }

.light-background {
  background-color: #eef0f2 !important; }

.black-background {
  background-color: #000 !important; }

.white-background {
  background-color: #fff !important; }

.blue-background {
  background-color: #04d7de !important; }

.phoenix-background {
  background-color: #ee2224 !important; }

.yellow-background {
  background-color: #deff0a !important; }

.green-background {
  background-color: #33ff0a !important; }

.purple-background {
  background-color: #57038f !important; }

.aqua-background {
  background-color: #0070f3 !important; }

[data-theme="aqua"] .theme-reverse, [data-theme="phoenix"] .theme-reverse, [data-theme="sky"] .theme-reverse {
  background-color: #eef0f2 !important;
  color: #101c29 !important; }

[data-theme="aqua"] .theme-adjust {
  background-color: #0070f3 !important;
  color: #eef0f2 !important; }

[data-theme="phoenix"] .theme-adjust {
  background-color: #ee2224 !important;
  color: #eef0f2 !important; }

[data-theme="sky"] .theme-adjust {
  background-color: #0070f3 !important;
  color: #eef0f2 !important; }

[data-theme="dark"] .theme-adjust, [data-theme="light"] .theme-reverse {
  background-color: #101c29 !important;
  color: #eef0f2 !important; }

[data-theme="light"] .theme-adjust, [data-theme="dark"] .theme-reverse {
  background-color: #eef0f2 !important;
  color: #101c29 !important; }
