:root {
  /* Colors */
  --dark-color: #101c29;
  --light-color: #eef0f2;
  --black-color: #000;
  --white-color: #fff;
  --blue-color: #04d7de;
  --red-color: #eb2421;
  --yellow-color: #FDCD49;
  --green-color: #2FDA90;
  --aqua-color: #0070f3;
  --phoenix-color: #ee2224;
  --sky-color: #673ab7;
  --indigo-color: #9c27b0;
  --teal-color: #009688; }

[data-theme="dark"], .dark-mode {
  background-color: var(--dark-color) !important;
  color: var(--white-color) !important;
  transition: 0.5s; }

[data-theme="light"], .light-mode {
  background-color: var(--light-color) !important;
  color: var(--black-color) !important;
  transition: 0.5s; }

[data-theme="aqua"], .aqua-mode {
  background-color: var(--aqua-color) !important;
  color: var(--black-color) !important;
  transition: 0.8s; }

[data-theme="phoenix"], .phoenix-mode {
  background-color: var(--phoenix-color) !important;
  color: var(--light-color) !important;
  transition: 0.8s; }

[data-theme="sky"], .sky-mode {
  background-color: var(--sky-color) !important;
  color: var(--white-color) !important;
  transition: 0.8s; }

[data-theme="indigo"], .indigo-mode {
  background-color: var(--indigo-color) !important;
  color: var(--white-color) !important;
  transition: 0.8s; }

[data-theme="teal"], .teal-mode {
  background-color: var(--teal-color) !important;
  color: var(--white-color) !important;
  transition: 0.8s; }

.black-text {
  color: var(--black-color) !important; }

.white-text {
  color: var(--white-color) !important; }

.blue-text {
  color: var(--blue-color) !important; }

.phoenix-text {
  color: var(--phoenix-color) !important; }

.yellow-text {
  color: var(--yellow-color) !important; }

.green-text {
  color: var(--green-color) !important; }

.aqua-text {
  color: var(--aqua-color) !important; }

.sky-text {
  color: var(--sky-color) !important; }

.indigo-text {
  color: var(--indigo-color) !important; }

.teal-text {
  color: var(--teal-color) !important; }

.dark-background {
  background-color: var(--dark-color) !important; }

.light-background {
  background-color: var(--light-color) !important; }

.black-background {
  background-color: var(--black-color) !important; }

.white-background {
  background-color: var(--white-color) !important; }

.blue-background {
  background-color: var(--blue-color) !important; }

.phoenix-background {
  background-color: var(--phoenix-color) !important; }

.yellow-background {
  background-color: var(--yellow-color) !important; }

.green-background {
  background-color: var(--green-color) !important; }

.aqua-background {
  background-color: var(--aqua-color) !important; }

.sky-background {
  background-color: var(--sky-color) !important; }

.indigo-background {
  background-color: var(--indigo-color) !important; }

.teal-background {
  background-color: var(--teal-color) !important; }

[data-theme="aqua"] .theme-reverse, [data-theme="phoenix"] .theme-reverse, [data-theme="sky"] .theme-reverse {
  background-color: var(--light-color) !important;
  color: var(--dark-color) !important; }

[data-theme="aqua"] .theme-adjust {
  background-color: var(--aqua-color) !important;
  color: var(--light-color) !important; }

[data-theme="phoenix"] .theme-adjust {
  background-color: var(--phoenix-color) !important;
  color: var(--light-color) !important; }

[data-theme="sky"] .theme-adjust {
  background-color: var(--sky-color) !important;
  color: var(--light-color) !important; }

[data-theme="indigo"], .theme-adjust {
  background-color: var(--indigo-color) !important;
  color: var(--white-color) !important;
  transition: 0.8s; }

[data-theme="teal"], .theme-adjust {
  background-color: var(--teal-color) !important;
  color: var(--white-color) !important;
  transition: 0.8s; }

[data-theme="dark"] .theme-adjust, [data-theme="light"] .theme-reverse {
  background-color: var(--dark-color) !important;
  color: var(--light-color) !important; }

[data-theme="light"] .theme-adjust, [data-theme="dark"] .theme-reverse {
  background-color: var(--light-color) !important;
  color: var(--dark-color) !important; }