.gradient-timeline .gradient-timeline-item {
  border-top: 3px solid;
  border-image: linear-gradient(to right, #7b4397 0%, #dc2430 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 30px;
  counter-increment: section;
  position: relative; }
  .gradient-timeline .gradient-timeline-item::before {
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 1.25em;
    width: 1.25em;
    background-color: #34435E;
    text-align: center;
    line-height: 1.25em;
    color: #fff;
    top: calc(50% - 1.25em); }
  .gradient-timeline .gradient-timeline-item:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0; }
    .gradient-timeline .gradient-timeline-item:nth-child(odd)::before {
      left: 100%;
      margin-left: -20px; }
  .gradient-timeline .gradient-timeline-item:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0; }
    .gradient-timeline .gradient-timeline-item:nth-child(even)::before {
      right: 100%;
      margin-right: -20px; }
  .gradient-timeline .gradient-timeline-item:first-child {
    border-top: 0px;
    border-top-right-radius: 0;
    border-top-left-radius: 0; }
  .gradient-timeline .gradient-timeline-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
