[data-theme="light"] .tooltip-data {
  background-color: #101c29 !important;
  color: #fff !important;
  transition: 0.4; }

[data-theme="dark"] .tooltip-data {
  color: #000 !important;
  background-color: #eef0f2 !important; }

.tooltip {
  display: inline-block;
  position: relative;
  text-decoration: underline dotted; }

.tooltip .tooltip-data {
  position: absolute;
  visibility: hidden;
  z-index: 1;
  width: 120px;
  opacity: 0;
  transition: opacity 0.3s;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  color: #fff;
  background-color: #101c29; }

.tooltip-right {
  top: -5px !important;
  left: 105% !important; }

.tooltip-top {
  bottom: 100% !important;
  left: 50% !important;
  margin-left: -60px !important; }

.tooltip-left {
  top: -5px !important;
  right: 105% !important; }

.tooltip-bottom {
  width: auto !important;
  top: 100% !important;
  left: 50% !important;
  margin-left: -60px !important; }

.tooltip:hover .tooltip-data {
  opacity: 1;
  visibility: visible;
  transition: ease-in-out 0.5s;
  -webkit-transform: translateX(10%);
  -moz-transform: translateX(10%);
  -ms-transform: translateX(10%);
  -o-transform: translateX(10%);
  transform: translateX(10%); }

.tooltip:hover .tooltip-bottom {
  -webkit-transform: translateY(10%) !important;
  -moz-transform: translateY(10%) !important;
  -ms-transform: translateY(10%) !important;
  -o-transform: translateY(10%) !important;
  transform: translateY(10%) !important; }

.tooltip:hover .tooltip-top {
  -webkit-transform: translateY(-10%) !important;
  -moz-transform: translateY(-10%) !important;
  -ms-transform: translateY(-10%) !important;
  -o-transform: translateY(-10%) !important;
  transform: translateY(-10%) !important; }

.tooltip:hover .tooltip-right {
  -webkit-transform: translateX(10%) !important;
  -moz-transform: translateX(10%) !important;
  -ms-transform: translateX(10%) !important;
  -o-transform: translateX(10%) !important;
  transform: translateX(10%) !important; }

.tooltip:hover .tooltip-left {
  -webkit-transform: translateX(-10%) !important;
  -moz-transform: translateX(-10%) !important;
  -ms-transform: translateX(-10%) !important;
  -o-transform: translateX(-10%) !important;
  transform: translateX(-10%) !important; }
