@font-face{
    font-family: "Roboto";
    src: url("./fonts/Roboto/Roboto-Regular.ttf") format('truetype');
}
@font-face{
    font-family: "Noto";
    src: url("./fonts/Noto/NotoSans-Regular.ttf") format("truetype");
}
@font-face{
    font-family: "Work";
    src: url("./fonts/Work/WorkSans-Medium.ttf") format("truetype");
}
:root{
    /* Colors */
    --dark-color: #101c29;
    --light-color: #eef0f2;
    --black-color: #000;
    --white-color: #fff;
    --blue-color: #04d7de;
    --red-color: #eb2421;
    --yellow-color: #deff0a;
    --green-color: #33ff0a;
    --purple-color: #57038f;
}
html{
    -ms-overflow-style: auto;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Noto", "Work";
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(119, 118, 118);
}
/* Scrollbar */

/* Colors and theme*/
[theme = "dark"], .dark-mode{
    background-color: var(--dark-color) !important;
    color: var(--white-color) !important;
    transition: 0.5s;
}
[theme = "light"], .light-mode{
    background-color: var(--light-color) !important;
    color: var(--black-color) !important;
    transition: 0.5s;
}
.black-text{color: var(--black-color) !important}
.white-text{color: var(--white-color) !important}
.blue-text{color: var(--blue-color) !important}
.red-text{color: var(--red-color) !important}
.yellow-text{color: var(--yellow-color) !important}
.green-text{color: var(--green-color) !important}
.purple-text{color: var(--purple-color) !important}

.dark-background{background-color: var(--dark-color) !important}
.light-background{background-color: var(--light-color) !important}
.black-background{background-color: var(--black-color) !important}
.white-background{background-color: var(--white-color) !important}
.blue-background{background-color: var(--blue-color) !important}
.red-background{background-color: var(--red-color) !important}
.yellow-background{background-color: var(--yellow-color) !important}
.green-background{background-color: var(--green-color) !important}
.purple-background{background-color: var(--purple-color) !important}
/* Colors and theme*/

/* Grid System */
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
[class*="col-"]{
    float: left;
}
.row{
    overflow: hidden;
}
.col-1 , .col-ex-1{width: 8.33%;}
.col-2 , .col-ex-2{width: 16.66%;}
.col-3 , .col-ex-3{width: 25%;}
.col-4 , .col-ex-4{width: 33.33%;}
.col-5 , .col-ex-5{width: 41.66%;}
.col-6 , .col-ex-6{width: 50%;}
.col-7 , .col-ex-7{width: 58.33%;}
.col-8 , .col-ex-8{width: 66.66%;}
.col-9 , .col-ex-9{width: 75%;}
.col-10, .col-ex-10 {width: 83.33%;}
.col-11, .col-ex-11 {width: 91.66%;}
.col-12, .col-ex-1 {width: 100%;}

/* Grid System */
/* Box */
.box{
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    width: -webkit-fill-available;
}
.box-shadow{
    box-shadow: 3px 5px 11px;
}

.box img{
    width: inherit;
}

.box-title, .heading-title{
	font-weight: bold;
	text-align: center;
	font-family: "Montserrat";
	padding: 2px 5px;
	border-bottom: 0.5px solid #e6e6e6; 
}
/* Box */
/* Button */
.btn{
    padding: 8px;
    border: 1px solid #999;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Noto", "Work";
}

.btn-hover:hover{
    box-shadow: 2px 2px 8px;
    opacity: .7;
}
.btn-dark{background-color: var(--dark-color); color: var(--light-color);}
.btn-light{background-color: var(--light-color); color: var(--dark-color);}
.btn-danger{background-color: var(--red-color); color: var(--light-color);}
.btn-success{background-color: var(--green-color);}
.btn-warning{background-color: var(--yellow-color);}
.btn-warning, .btn-success{color: var(--dark-color);}
/* Button */
/* Form */
.form-label{
    font-family: "Roboto", "Work";
    margin: 10px 0;
}

.form-group{
    margin: 16px 14px;
}

.form-control{
    border: 1px solid #bfbfbf;
    width: -webkit-fill-available;
    border-radius: 5px;
    padding: 8px;
}
/* Form */
@media only screen and (min-width: 600px){
    .container{
        width: 550px;
    }
}
@media only screen and (max-width: 600px){
    [class*="col-"]:not([class*="col-ex"]){
		width: 100% !important;
    }
}
@media only screen and (min-width: 768px){
    .container{
        width: 730px;
    }
}
@media only screen and (max-width: 768px){
    .col-1{
		width: 16.66%;
	}
	.col-2{
		width: 25%;
	}
	.col-3, .col-4, .col-5, .col-6{
		width: 50%;
	}
	.col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
		width: 100%;
	}
}

@media only screen and (min-width: 992px){
    .container{
        width: 900px;
    }
}

@media only screen and (min-width: 1200px){
    .container{
        width: 1130px;
    }
}