.main-docs{
    margin-top: 40px;
}

.main-page-title{
    font-family: "Work";   
    text-align: center;
    font-size: 3.5rem;
}
.main-page-description{
    text-align: justify;
    font-size: 1.4rem;
}

.main-page-logo{
    text-align: center;
}
.main-page-logo img{
    width: 150px;
}

.about-text{
    font-size: 1.2rem;
    font-family: "Noto";
}
.link{
    color: inherit;
    opacity: .8;
    cursor: pointer;
}
.link:hover, .link:focus{
    opacity: .4;
}

.main-page{
    padding: 20px;
}

.division{
    margin: 3rem 0;
}

.col-3, .col-ex-3{
    width: calc(25% - 1rem);
    padding: 0.4rem;
    border: 1px solid rgba(39, 41, 43, 0.1);
}

.col-ex-8{
    width: calc(66.66% - 1rem);
    padding: 0.4rem;
    border: 1px solid rgba(39, 41, 43, 0.1);
}

.col-ex-4{
    width: calc(33.33% - 1rem);
    padding: 0.4rem;
    border: 1px solid rgba(39, 41, 43, 0.1);
}

.sidenav{
    z-index: 20;    
}

@media only screen and (max-width: 768px){
    .col-3{
        width: calc(50% - 1rem);
    }
}