code {
  display: inline-flex;
  overflow: auto;
  font-family: "Work";
  padding: 0.2rem;
  line-height: 1.2rem;
  border-radius: 5px; }

pre {
  padding: 0.5rem;
  font-family: "Work";
  tab-size: 4;
  overflow: auto;
  position: relative;
  transition: .5s;
  border-radius: 5px; }

body[data-theme="light"] pre, body[data-theme="light"] code {
  background-color: #101c29;
  color: #eef0f2; }

body[data-theme="dark"] pre, body[data-theme="dark"] code, body[data-theme="aqua"] pre, body[data-theme="aqua"] code, body[data-theme="phoenix"] pre, body[data-theme="phoenix"] code {
  background-color: #eef0f2;
  color: #101c29; }

pre .code-copyBtn {
  display: none;
  text-align: center;
  border-radius: 25px;
  border-style: solid;
  position: absolute;
  left: 20px;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  transition: ease-in-out .3s;
  z-index: 100; }

pre:hover .code-copyBtn {
  display: block; }

pre[data-copyable="false"] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body[data-theme="dark"] .code-copyBtn, body[data-theme="light"] .code-copyBtn:hover, body[data-theme="aqua"] .code-copyBtn, body[data-theme="phoenix"] .code-copyBtn {
  border-color: #101c29;
  background-color: #eef0f2;
  color: var(--black-color); }

body[data-theme="light"] .code-copyBtn, body[data-theme="dark"] .code-copyBtn:hover, body[data-theme="aqua"] .code-copyBtn:hover, body[data-theme="phoenix"] .code-copyBtn:hover {
  border-color: #eef0f2;
  background-color: #101c29;
  color: #eef0f2; }
