code {
  display: inline-flex;
  overflow: auto;
  font-family: "Work";
  padding: 0.2rem;
  line-height: 1.2rem;
  border-radius: 5px;
  background-color: #eef0f2;
  color: #101c29;
  line-height: 1.2;
}

pre {
  padding: 0.5rem;
  font-family: "Work";
  tab-size: 4;
  overflow: auto;
  position: relative;
  transition: 0.5s;
  border-radius: 5px;
  background-color: #eef0f2;
  color: #101c29;
}

body[data-theme="light"] pre,
body[data-theme="light"] code {
  background-color: #101c29 !important;
  color: #eef0f2 !important;
}

pre .code-copyBtn {
  display: none;
  text-align: center;
  border-radius: 25px;
  border-style: solid;
  position: absolute;
  left: 20px;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  transition: ease-in-out 0.3s;
  z-index: 100;
  border-color: #101c29;
  background-color: #eef0f2;
  color: #101c29;
}

pre .code-copyBtn:hover {
  border-color: #eef0f2;
  background-color: #101c29;
  color: #eef0f2;
}

pre:hover .code-copyBtn {
  display: block;
}

pre[data-copyable="false"] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body[data-theme="light"] .code-copyBtn {
  border-color: #eef0f2;
  background-color: #101c29;
  color: #eef0f2;
}

body[data-theme="light"] .code-copyBtn:hover {
  border-color: #101c29;
  background-color: #eef0f2;
  color: #101c29;
}
